/* importing fonts */

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
/* Content oragisation of all the web pages */ 
* {
    padding: 0px;
    margin: 0px;
} 
body {
    background-image: url(../images/web-backgorund-mountain-Adventure_Time.jpg);
    background-size: cover;
    align-items: center;
    background-repeat: no-repeat;
    text-align: center;
} 
/*content logo*/
header > .logoHeader > .logo {
    width: auto;
    height: 150px;
    background-repeat: no-repeat ;
    background-size: contain;
    position: relative;
    top: -25px;
    right: 13.25%; 
}
/* navigation bar */ 
header > .webPages{
    display:flex;
    background-color: transparent;
    padding: 10px 16px;
    margin: 5px;
    justify-content: center;
    width: calc(100% -0.625rem);
    height: 25%;
    gap: 20px;
    font-size: large;
    float:right;
    margin-right: 36%;
    font-family: Agbalumo;
}
header > .webPages > .webPage{
    background-color: transparent;
    text-decoration: none;
    color: orange;
}
header > .webPages > .webPage:hover{
    color: whitesmoke;
} 
/* <-------------------------------------------------------------------->*/
/* Footer */ 
footer {
    display: flex;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5.5%;
    padding-bottom: auto;
    gap: 10px   
}
footer, p, a{
    color: rgb(51, 0, 51);
    font-family: Agbalumo;
}
footer > p > a:hover{
    color: orange;
}
footer i {
    position: relative;
    color: rgb(51, 0 ,51);
    margin-top: 5px;
}
.footerRegister, .footerLogin, .footerForgotten-pass{
    padding-top: 3.5%;
} 
.footerGame-page{
    padding-top: 18.4%;
}
.footerGame-play{
    padding-top: 6%;
}
.footerAbout{
    padding-top: 12.05%;
}
.footerHelp {
    padding-top: 9.95%;
}
.footerLeaderboard{
    padding-top: 17.05%
}
.footerHowTo {
    padding-top: 7.25%;
}
/* Content home page */
.mainHome > h2{
    font-size: 40px;
    margin: 1% ;
    color: orange;
    font-family: Libre Baskerville;
}
.mainHome > p {
    border: 2px solid  ;
    border-radius: 15%;
    background-color: aliceblue;
    padding: 10px 10px;
    margin: 0px 35%;
    font-size: 22px;
    color: rgb(51, 0, 51);
    font-family: Agbalumo;
}
/* Content register, login and forgotten password */
.mainRegister .registerWrapper,
.mainLogin #loginWrapper,
.mainForgotPassword .forgetPassWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
.mainRegister .form-box,
.mainLogin .form-box,
.mainForgotPassword .form-box{
    position: relative;
    width: 500px;
    height: 400px;
    border: 2px solid;
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: blur(15px);
    margin: 3% 40% 3% ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainRegister .form-box h2, 
.mainLogin .form-box h2,
.mainForgotPassword .form-box h2{
    color: orange;
    text-align: center;
    font-size: 32px;
    font-family: Libre Baskerville;
}
/* text fields register, login, forgotten password */
.mainRegister .registerWrapper .input-box, 
.mainLogin #loginWrapper .input-box,
.mainForgotPassword .forgetPassWrapper .input-box{
    position: relative;
    margin: 20px 0;
    width: 100%;
    border-bottom: 2px solid;
}
.mainRegister .registerWrapper .input-box input,
.mainLogin #loginWrapper .input-box input,
.mainForgotPassword .forgetPassWrapper .input-box input{
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 20px 0 5px;  
    color: white;
    font-size: 16px;
}
i, i, i{
    position: absolute;
    color: rgb(51, 0 ,51);
    right: 0;
}
.mainRegister input::placeholder,
.mainLogin input::placeholder,
.mainForgotPassword input::placeholder{
    color:rgb(51, 0, 51);
    font-family: Ubuntu;

}
/* Accessing buttons*/
.mainRegister .registerWrapper .form-box #button .btn,
.mainLogin #loginWrapper .form-box .button .btn,
.mainForgotPassword .forgetPassWrapper .form-box .button .btn{
    color: white;
    background-color: orange;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 3px 0 10px rgba( 0,0,0,.5)
}
.mainLogin #loginWrapper .form-box .button #loginFailure{
    color: red;
}
.mainRegister .registerWrapper .form-box #result,
.mainLogin #loginWrapper .form-box #result,
.mainForgotPassword .forgetPassWrapper .form-box #result{
    color: red;
    font-weight: 600;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}
/*content login */
.mainLogin > #loginWrapper > p {
    font-size: 110%;
    color: rgb(77, 0, 77);
    font-family: Agbalumo;
    margin-left: -1.9%;
}
.mainLogin > #loginWrapper > p > a {
    color: rgb(77, 0, 77);
    font-size: 100%;
}
.mainLogin > #loginWrapper > a {
    color: rgb(77, 0, 77);
    margin-right: 2.8%;
    font-size: 105%;
    font-family: Agbalumo;
    margin-left: -3%;
}
.mainLogin > #loginWrapper > a:hover,
.mainLogin > #loginWrapper > p > a:hover{
    color: rgb(20, 184, 20);
}
/*content game page */
.mainGame-Page > .buttonToGame > .playButton > button, 
.howToPlayButton > button{ 
    font-size: 150%;
    border-radius: 7px;
    margin: 4.88% auto 0% auto ;
    padding: 10px 10px; 
    background-color:orange;
    font-family: Agbalumo;
}
.mainGame-Page > .buttonToGame > 
.playButton > button:active,
.howToPlayButton > button:active{
    background-color: rgb(20, 184, 20);
}
/* content game play page*/
#myCanvas{
    border: 1px;
    background-image: url(../images/web-backgorund-mountain-Adventure_Time.jpg);
    background-size: cover;
    text-align: center;
    width: 75%;
    height: 30%;
    margin: -4% auto;
    padding: 0px auto; 
}
/* content about us, help, leaderboard*/
.mainAbout > h2,
.mainHelp > h2,
.mainLeaderboard > h2{
    font-size: 40px;
    margin: 1% ;
    color: orange;
    font-family: Libre Baskerville;
}
.mainAbout > p,
.mainHelp > p {
    padding: 20px 10px;
    margin: 10px 35%;
    font-size: 22px;
    font-family: Agbalumo;
    border: 2px solid; 
    border-radius: 15%;
    background-color: aliceblue;
    color: rgb(51, 0, 51);
}
/*content leaderboard*/
.mainLeaderboard > table, th, td{
    border: 2px solid;
    border-radius: 7px;
    background-color: aliceblue;
    font-size: 22px;
    font-family: Agbalumo;
    color: rgb(51, 0 ,51);
    width: 25%;
    padding: auto auto;
    margin: 0px auto    
}
.mainLeaderboard > th, td{
    padding: 7px 10px 10px 10px;
}
/* content How to Play*/
.mainhowToPlay, p > .Intro {
    border: 2px solid;
    border-radius: 15%;
    background-color: aliceblue;
    font-size: 22px;
    padding: 20px 10px;
    margin: 10% 60% 5% 7%;
    font-family: Ubuntu;
    color: rgb(230, 159, 28);
}
.mainhowToPlay > img {
    width: 25%;
    height: auto;
    position: absolute;
    float: right;
    margin-left: 35%;
    margin-top: -17%;
}